<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>BrunoBundle</string>
	<key>ordering</key>
	<array>
		<string>2C83D1D3-1D2F-4856-ACDD-7A81A179CB5E</string>
		<string>5EF87F06-CA39-44B8-9891-A57D445DF8AB</string>
		<string>65F454A3-605A-4E64-8DBA-6D466BF0BBE0</string>
		<string>F61A9B5A-A31E-45C0-8A08-968A50664CC3</string>
		<string>A2F4C6C4-7D7E-4746-9AA1-5537FD8238ED</string>
		<string>D8EF0430-DCF0-4BF3-8BDA-68420BC7FEA6</string>
		<string>88F3BE9A-430A-4F35-884D-5BE8B5487238</string>
		<string>9D83A451-EF27-4C26-842D-6E56FE60819C</string>
		<string>D70030D4-1561-4AE8-A68C-4A8CC69013EF</string>
	</array>
	<key>uuid</key>
	<string>A48CFE79-EBCD-41D6-83AF-1669C6E1E8E4</string>
</dict>
</plist>
