<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>BrunoBundle</string>
	<key>ordering</key>
	<array>
		<string>2C83D1D3-1D2F-4856-ACDD-7A81A179CB5E</string>
	</array>
	<key>uuid</key>
	<string>A48CFE79-EBCD-41D6-83AF-1669C6E1E8E4</string>
</dict>
</plist>
